@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;

}
body {
  position: relative;
  background-color: #000;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}
header
{
font-family: 'Poppins', sans-serif;
position: absolute;
top: 5px;
font-family: sans-serif;
padding: 10px 30px;
margin: 0 15px;
color: #ffffff;
text-shadow: 0px 0px 10px #fff;
text-decoration: none;
font-size: 25px;
overflow: hidden;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* Your other CSS rules... */





a:hover:before
{
width: 100%;
height: 100%;
transition-delay: 0s;
}
a:before
{
content: '';
position: absolute;
top: 0; center;
left: 0;
width: 10px;
height: 10px;
border-top: 2px solid #21ecff70;
border-left: 2px solid #21ecff70;
transition: 0.5s;
transition-delay: 0.5s;
}
a
{
position:relative;
padding: 10px 30px;
margin: 0 15px;
color: #21ecff70;
text-decoration: none;
text-transform: uppercase;
Letter-spacing: 2px;
font-size: 20px;
overflow: hidden;
transition: 0.5s;
-webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
}
a:nth-child(1)
{
filter: hue-rotate(115deg);
}
a:nth-child(3)
{
filter: hue-rotate(270deg);
}
a:nth-child(4)
{
filter: hue-rotate(270deg);
}
a:hover
{
background: #b4f9ff;
color: #111;
box-shadow: 0 0 50px #b4f9ff;
transition-delay: 0.5s
}



a:after
{
content: '';
position: absolute;
bottom: 0;
right: 0;
width: 10px;
height: 10px;
border-bottom: 2px solid #21ecff70;
border-right: 2px solid #21ecff70;
transition: 0.5s;
transition-delay: 0.5s;
}
a:hover:after
{
width: 100%;
height: 100%;
transition-delay: 0s;
}

b:hover
{
    color: #ff91ff;

text-shadow: 0px 0px 20px #ff91ff;
transition-delay: 0s
}
b
{
position: absolute;
top: 40px; center;
padding: 10px 30px;
margin: 0 15px;
color: #21ebff;
text-decoration: none;
text-transform: uppercase;
Letter-spacing: 10px;
font-size: 50px;
overflow: hidden;
transition: 0.5s;
}
c:hover
{
color: #21ebff;    
text-shadow: 0px 0px 10px #21ebff;
transition-delay: 0s
}
c
{
position: absolute;
top: 25px; center;
padding: 10px 30px;
margin: 0 15px;
color: #ff91ff;
text-shadow: 0px 0px 10px #ff91ff;
text-decoration: none;
text-transform: uppercase;
Letter-spacing: 30px;
font-size: 20px;
overflow: hidden;
transition: 0.5s;
-webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
}
a:active
{
background: #21ebff;
color: #111;
box-shadow: 0 0 50px #21ebff;
transition-delay: 0.5s
}
a:checked
{
background: #21ebff;
color: #111;
box-shadow: 0 0 50px #21ebff;
transition-delay: 0.5s
}

.description
{
position: absolute;
top: 150px;
padding: 10px 30px;
margin: 0 15px;
color: rgb(166, 0, 255);
text-decoration: none;
font-size: 30px;
overflow: hidden;
text-shadow: rgb(166, 0, 255) 1px 0 10px;
transition: 0.5s;
}

z
{
position: absolute;
top: 125px; center;
padding: 10px 30px;
margin: 0 15px;
color: #ffffff;
text-decoration: none;
text-transform: none;
Letter-spacing: 1px;
font-size: 20px;
overflow: hidden;
text-shadow: 0px 0px 10px #21ebff;
transition: 0.5s;
}


#goFS:hover
{
text-shadow: 0px 0px 20px #ff91ff;
transition-delay: 0s
}
#goFS
{
position: absolute;
bottom: 40px; center;
padding: 10px 30px;
margin: 0 15px;
color: #ff91ff;
text-decoration: none;
text-transform: uppercase;
Letter-spacing: 0px;
font-size: 25px;
overflow: hidden;
transition: 0.5s;
-webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
}
z:hover
{
    color: #000;

text-shadow: 0px 0px 20px #ffffff;
transition-delay: 0s
}
z
{
position: absolute;
top: 40px center;
padding: 10px 30px;
margin: 0 15px;
color: rgb(166, 0, 255);
text-decoration: none;
text-transform: uppercase;
Letter-spacing: 10px;
font-size: 50px;
overflow: hidden;
transition: 0.5s;
-webkit-box-reflect: below 1px linear-gradient(transparent,#0003);
}
.hub, .hub-gradient {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 50px;
  top: 40px;
  left: 50%;  /* Centering it horizontally */
  transform: translateX(-50%);
}

.hub {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  z-index: 2;  /* Place it above the gradient */
}

.hub-gradient {
  color: transparent;
  background-image: linear-gradient(90deg, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 0 0 indigo, -1px 0 0 blue, 0 1px 0 violet, 0 -1px 0 blueviolet,
               2px 2px indigo, -2px -2px blue, 2px -2px violet, -2px 2px indigo;
  z-index: 1;  /* Place it below the main text */
}



  .hub span:nth-child(2) {
    background-image: linear-gradient(90deg, rgba(255,0,0,0), rgba(166, 0, 255));
    /*background: #FF9900;*/
    text-shadow: 0px 0px 20px rgba(166, 0, 255);
    color: #000000;
    border-radius: 1vw;
    padding: 0 1vw 1vw 1vw;
    display: inline-flex;
  }

 .styledButton {
    cursor: pointer;
    border: none;
    background-color: #5d3f8d;  /* Dark purple */
    color: #ffffff;
    font-family: sans-serif;
    width: 220px; 
    transition: all 0.5s ease;
}

.styledInput, .styledButton {
    position: relative;
    padding: 12px 30px;
    margin: 20px 0;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: sans-serif;
    text-transform: none;
    transition: all 0.5s ease;
    border: 2px solid;
    border-image-source: linear-gradient(90deg, rgba(255,105,135,.4), rgba(255,140,85,.4), rgba(255,209,42,.4), rgba(46,229,157,.4), rgba(0,128,255,.4), rgba(145,61,136,.4));
    border-image-slice: 1;
    border-radius: 5px;
    background-color: #5d3f8d;
    box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.styledInput:hover, .styledButton:hover {
    animation: rotateBorder 10s linear infinite;
    box-shadow: 0 0 20px rgba(255,105,135,.4), 0 0 20px rgba(255,140,85,.4), 0 0 20px rgba(255,209,42,.4), 0 0 20px rgba(46,229,157,.4), 0 0 20px rgba(0,128,255,.4), 0 0 20px rgba(145,61,136,.4);
}

@keyframes rotateBorder {
    0% {
        border-image-source: linear-gradient(90deg, rgba(255,105,135,.4), rgba(255,140,85,.4), rgba(255,209,42,.4), rgba(46,229,157,.4), rgba(0,128,255,.4), rgba(145,61,136,.4));
    }
    25% {
        border-image-source: linear-gradient(45deg, rgba(255,105,135,.4), rgba(255,140,85,.4), rgba(255,209,42,.4), rgba(46,229,157,.4), rgba(0,128,255,.4), rgba(145,61,136,.4));
    }
    50% {
        border-image-source: linear-gradient(0deg, rgba(255,105,135,.4), rgba(255,140,85,.4), rgba(255,209,42,.4), rgba(46,229,157,.4), rgba(0,128,255,.4), rgba(145,61,136,.4));
    }
    75% {
        border-image-source: linear-gradient(-45deg, rgba(255,105,135,.4), rgba(255,140,85,.4), rgba(255,209,42,.4), rgba(46,229,157,.4), rgba(0,128,255,.4), rgba(145,61,136,.4));
    }
    100% {
        border-image-source: linear-gradient(-90deg, rgba(255,105,135,.4), rgba(255,140,85,.4), rgba(255,209,42,.4), rgba(46,229,157,.4), rgba(0,128,255,.4), rgba(145,61,136,.4));
    }
}
.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputSection > div {
  display: flex;
  gap: 10px;  /* Adjust gap between username and password fields as needed */
}

.registerButton {
  font-family: 'Poppins', sans-serif;
  color: #ff91ff;  /* Pink color */
  text-decoration: none;
  background-image: linear-gradient(90deg, rgba(255,105,135,.4), rgba(255,140,85,.4), rgba(255,209,42,.4), rgba(46,229,157,.4), rgba(0,128,255,.4), rgba(145,61,136,.4));
  background-repeat: no-repeat;
  background-size: 100% 2px;  /* This will make the gradient act as an underline */
  background-position: 0 100%;  /* Position it at the bottom */
  transition: background-size 0.3s ease;  /* Optional: for a smooth hover effect */
}

.registerButton:hover {
  background-size: 100% 3px;  /* Increase the height of the underline on hover for a subtle effect */
}

.register-text {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;  
  color: #ff91ff;  

}
#introOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Increase the z-index value */
  display: flex;
  flex-direction: column; /* Ensures the text is vertically centered */
}

#introText {
  font-size: 60px;
  color: white;
  font-weight: bold;
  display: block; /* Ensures the text is displayed */
}

