body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow: hidden; /* To avoid any unwanted scrollbars */
}

.disclaimer {
  position: fixed; 
  top: 10%;
  left: 10%;
  right: 10%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 999; 
}

.close-disclaimer {
  position: absolute;
  top: -25px; /* Moving the button upwards to make it appear as a tab */
  right: 50%; /* Centering the button to the middle of the disclaimer */
  transform: translateX(50%); /* Ensuring the button is centered correctly */
  background: linear-gradient(to right, purple, black);
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
}


iframe {
  width: 100%;
  height: 100vh; /* Full viewport height */
  border: none;
  position: fixed; /* This will make the iframe cover the full page */
  top: 0;
  left: 0;
}

.close-disclaimer:hover {
  background: linear-gradient(to right, rgb(128, 20, 128), rgb(20,20,20));
}
