.game-1v1-content .logo {
    background: url('../images/logo.png') no-repeat center / contain;
    width: auto;
    height: 130px;
}

p {
	background-color: white;
	color: black;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	font-family: sans-serif;
}

h1 {
	text-shadow: 2px 0px 2px #AFFFFF;
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	font-family: geometric-sans-serif;
}
h4 {
	text-shadow: 2px 0px 2px #747474;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	font-family: sans-serif;
}
.game-1v1-content .footer .custom {
    background-image: url('../images/128.png');
    width: 38px;
    float: right;
}
.game-1v1-content .footer .fullscreen {
    background-image: url('../images/logo.png');
    width: 128px;
    float: right;
}

